* {
  margin: 0px;
}
#navbar {
  background: transparent;
  height: 10%;
  position: fixed;
  top: 0;
  min-width: 100%;
}
.nav-item > a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
.nav-item {
  display: inline;
  padding: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.2);
  transition: 0.5s;
}
.nav-item:hover {
  box-shadow: 0 2px 2px rgba(255,255,255,1);
}
#navbar > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;    
}
#welcome-section {
  background-image: url('http://i67.tinypic.com/27zx1d1.jpg');
  color: #fff;
  text-shadow: -2px 2px #000, 2px 2px #000, 2px 2px #000, 2px -2px #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 24px;
}
#welcome-section > h3 {
    width: 50%;
}
#container2 {
  background: #22CA12;
  min-height: 100vh;
  padding: 100px 0;
  min-width: 100%;
}
#project-title {
  text-align: center;
  margin-bottom: 10%;
  font-size: 42px;
}
#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-text {
  text-align: center;
  padding: 10px;
}
.project-tile {
  text-decoration: none;
  color: #000000;
  box-shadow: 0 0px 0px rgba(0,0,0,0.2);
  transition: 0.5s;
  margin: 20px;
}
.project-tile:hover {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
}
#butt {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.show-more {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgba(0,0,0,0.3);
}
.show-more:active {
  box-shadow: 0 3px rgba(0,0,0,0.3);
  transform: translateY(4px);
}
#contact {
  background: #00B6E7;
  min-height: 100vh;
  text-align: center;
  padding: 50px 0;
  font-size: 24px;
  min-width: 100%;
}
#contact > h2 {
    margin-bottom: 15%;
}
#contbox {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
#contbox > a {
  text-decoration: none;
  color: #000000;
  border: 3px solid #ffffff;
  padding: 100px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
  margin: 20px;
  display: flex;
}
#contbox > a:hover, #contbox > a:active {
  box-shadow: inset 5px 5px 5px 10px rgba(0,0,0,0.4);
}
#footer {
  background: #393939;
  color: #ffffff;
  text-align: center;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}
@media only screen and (max-width: 1000px) {
    #welcome-section {
        background-size: 170% 100%;
    }
}
@media only screen and (max-width: 500px) {
    #welcome-section {
        background-size: 200% 100%;
    }
    #navbar > ul {
        justify-content: space-between;
    }
  .nav-item, .nav-item > a {
    padding: 10px;
    justify-content: space-between;
  }
  #contbox > a {
    padding: 50px;
  }
  .project-tile {
    width: 80%;
  }
}
