body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 120%;
    z-index: 3;
    background: #0eb;
}

#nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    color: #000;
    height: 7%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
li {
    text-align: center;
}
.nav-link {
    text-decoration: none;
    color: #000;
    padding: 30px 50px;
    font-size: 3vh;
    transition: 1s;
}
.nav-link:hover {
    background: #0eb;
    color: #fff;
    transition: 1s;
}

.display-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 13% 10% 0% 10%;
}

#welcome {
    font-size: 4vh;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: -2px 2px 3px #000;
}

#about {
    opacity: 0;
    font-size: 3vh;
}


#contact {
    opacity: 0;
    text-align: center;
    font-size: 3vh;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 6vh;
    width: 66%;
    margin-left: 16%;
}
#icons > a {
    text-decoration: none;
    transition: 1s;
    text-align: center;
    padding: 30px;
    border-radius: 20%;
    color: #000;
}

#icons > a:hover {
    transition: 1s;
    color: #0eb;
    background: #fff;
}

#contact > h4 {
    display: none;
    color: #fff;
}

#themes {
    position: fixed;
    bottom: 0;
    height: 5%;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#what {
    margin-right: 5px;
    font-size: 2vh;
}

.select-theme {
    text-decoration: none;
    font-size: 2vh;
    transition: 1s;
    justify-content: flex-start;
    padding: 0 5px;
}
.select-theme:hover {
    cursor: pointer;
    transition: 1s;
    background: #0eb;
    color: #fff;
}

@media only screen and (max-width: 600px){
    #nav {
        margin: 0;
        width: 100%;
    }
    .nav-link {
        padding: 15px 25px;
    }
}

@media only screen and (max-width: 500px){
    #themes {
        position: absolute;
    }
}
@media only screen and (max-width: 360px){
    .nav-link {
        padding: 5px 8px;
    }
    ul {
        justify-content: flex-start;
    }
}