body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    width: 100%;
}

/*   IMAGES THANKS TO UNSPLASH.COM + PIXABAY.COM + NASA */

#nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    opacity: 0.95;
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.nav-btn {
    list-style-type: none;
}
.nav-btn > a {
    color: #000;
    text-decoration: none;
    padding: 17px;
    margin: 0 5px;
    transition: 1s;
}
.nav-btn > a:hover {
    background: #000;
    color: #fff;
    transition: 1s;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
}
/*  set background images   */
#welcome-hero {
    background: #000 url('images/nebula.jpg') center / 100% 100% no-repeat fixed;
}
#ib1 {
    background: #000 url('images/aurora.jpg') center / 100% 110% no-repeat fixed;
}
#ib2 {
    background: #000 url('images/eagle.jpg') center / 100% 110% no-repeat fixed;
}
#ib3 {
    background: #000 url('images/purple.jpg') center / 100% 110% no-repeat fixed;
}

#welcome-text {
    font-size: 7vh;
    font-family: 'Bungee', cursive;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: -1px 1px 25px rgba(0,0,0,0.9);
}


.area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 50vh;
    width: 100%;
}

.area-image {
    height: 50%;
    width: 33%;
}

.hidden {
    opacity: 0;
}

.fade-in-element {
    animation: fade-in 2s;
}
@keyframes fade-in {
    from {opacity: 0; transform: scale(.5,.5)}
    to {opacity: 1;}
}


#ai1 {
    background: url("images/thinking.jpg") center/contain no-repeat content-box;
}
#ai2{
    background: url("images/responsive2.jpg") center/contain no-repeat content-box;
}
#ai3 {
    background: url("images/toolbox.jpg") center/contain no-repeat content-box;
}
#ai4 {
    background: url("images/hex.jpg") center/contain no-repeat content-box;
    margin-bottom: 2%;
}

.area-text {
    width: 33%;
    margin: 0 5%;
}

.heading {
    text-align: center;
    font-size: 3.5vh;
}

.text {
    font-size: 2.5vh;
}

#service-heading {
    text-align: center;
    font-size: 3.2vh;
}
#service-text {
    text-align: center;
    font-size: 3vh;
}

.image-break {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.text-break {
    width: 100%;
    height: 33vh;
    color: #fff;
}
.text-break > h2 {
    color: transparent;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    text-shadow: -2px 2px 5px #fff;
    font-size: 6vh;
    text-align: center;
}


#contact {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2% 5%;
}

#copyright {
    font-size: 1.8vh;
}
#copyright > p {
    margin: 0;
}

#contact-links > h2 {
    text-align: center;
    font-size: 3vh;
}

#icons {
    display: flex;
    flex-direction: column;
}
#icons i {
    font-size: 3vh;
    padding-right: 40px;
    width: 10px;
}
#icons a {
    text-decoration: none;
    color: #fff;
    font-size: 3vh;
    transition: 1s;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 2px;
}
#icons a:hover {
    background: #fff;
    color: #000;
    transition: 1s;
}

#alert {
    display: none;
    font-size: 2vh;
}

/*   END OF INDEX.HTML ---- START OF SERVICES.HTML   */

#services-hero {
    background: #000 url('images/spiral.jpg') center / 100% 100% no-repeat fixed;
}

#services-text {
    font-size: 7vh;
    font-family: 'Bungee', cursive;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: -1px 1px 15px rgba(0,0,0,0.8);
}

.services-area {
    background: #fff;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#condition {
    font-size: 1.8vh;
    margin: 0;
    margin-bottom: 20px;
}

.services-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 50px;
}
h3 {
    text-align: center;
    font-size: 3.5vh;
}

.services-section > p {
    font-size: 2.5vh;
}
#services-two {
    border-left: 1px solid #ccc;
}

#website-types {
    background: #fff;
    width: 100%;
    padding: 30px 0;
}

.website-types-section {
    width: 70%;
    margin: 50px auto;
    border-top: 1px solid #ddd;
}
.website-types-section > p {
    font-size: 2.3vh;
}

.pro-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub-div {
    padding: 20px;
    border: 1px solid #000;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.5);
    background: #ddd;
    width: 40%;
}
.sub-div > p {
    text-align: center;
    font-weight: bold;
    font-size: 2.3vh;
}
.pro-con-list{
    list-style-type: none;
    padding: 10px;
}
.pro-con-list>li {
    font-size: 2.2vh;
    margin-bottom: 10px;
}
.pro-con-list li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.pricing-section {
    width: 70%;
    margin: 50px auto;
    border-top: 1px solid #ddd;
}
.pricing-section > h4 {
    margin-top: 50px;
    font-size: 3vh;
}
.pricing-section > p, li {
    font-size: 2.5vh;
    margin: 5px 0;
}

#prices-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.prices-box {
    border: 1px solid #000;
    text-align: center;
    margin: 25px 5px 0 5px;
    background: #ddd;
    width: 25%;
}
.prices-box > h4 {
    margin: 0;
    background: #000;
    color: #fff;
    padding: 10px 5px;
    font-size: 2.2vh;
    height: 5%;
}
.prices-box > p {
    font-size: 2vh;
}
.price {
    font-size: 2vh;
    background: #fff;
    box-shadow: 0px 1px 1px #000;
    border-radius: 50%;
    width: 50%;
    height: 5%;
    margin: 10px auto;
    padding: 10px;
}

/*  MEDIA QUERY -- SERVICES AND PRICING  */



@media only screen and (max-width: 800px) {
    .services-section {
        padding: 0 20px;
    }
    .services-area {
        padding: 0;
    }
    .website-types-section {
        margin: 10px auto;
    }
    .sub-div {
        padding: 5px;
    }
    .pro-con-list {
        margin-left: 10px;
    }
    .website-types-section, .pricing-section {
        width: 90%;
    }
    #contact {
        padding-bottom: 0;
    }
    .text-break > h2 {
        -webkit-text-stroke-width: 1px;
    }
}

@media only screen and (max-width: 750px) {
    #prices-container {
        flex-flow: wrap row;
        justify-content: space-around;
    }
    
    .prices-box {
        width: 40%;
    }
}

@media only screen and (max-width: 400px) {
    #services-one > h3 {
        margin-bottom: 50px;
    }
}

/*   MEDIA QUERY -- INDEX.HTML  */
@media only screen and (max-width: 1470px) {
    .heading {
        font-size: 3vh;
    }
    
    .text {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 850px) {
    .heading {
        font-size: 2.5vh;
    }
    
    .text {
        font-size: 1.5vh;
    }
    #contact {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #copyright {
        margin: 10px;
    }
}


@media only screen and (max-width: 500px) {
    .area {
        flex-direction: column;
    }
    .area-text, .area-image {
        width: 80%;
    }
    .area-image {
        height: 25%;
    }
    .heading {
        font-size: 3vh;
    }
    .text {
        font-size: 2vh;
    }
    #icons {
        width: 95%;
        padding: 0;
    }
    #icons i {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 420px) {
    .services-area {
        flex-direction: column;
        align-items: center;
    }

    .services-section {
        width: 80%;
        padding: 0 10%;
    }

    #services-two {
        border-top: 1px solid #ccc;
        border-left: none;
    }
}

@media only screen and (max-width: 377px) {
    .heading {
        font-size: 2.5vh;
    }
    .text-break > h2, #welcome-text {
        font-size: 4vh;
    }
    #contact {
        width: 100%;
        padding: 0;
    }
    #icons a {
        width: 100%;
        padding: 3px;
        border-radius: 3px;
        margin-bottom: 2px;
        font-size: 2.5vh;
    }
}