body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*   IMAGES THANKS TO UNSPLASH.COM + PIXABAY.COM  */
/* TODO: WISPY WELCOME TEXT? */
#nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    opacity: 0.9;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-btn {
    list-style-type: none;
}
.nav-btn > a {
    color: #000;
    text-decoration: none;
    padding: 18px;
    margin: 0 5px;
    transition: 1s;
}
.nav-btn > a:hover {
    background: #000;
    color: #fff;
    transition: 1s;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#welcome-text {
    font-size: 7vh;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: -2px 2px 10px #fff;
}

.area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    height: 50vh;
    width: 100%;
}

.area-image {
    height: 50%;
    width: 33%;
}
#ai1 {
    background: url("thinking.png") center/contain no-repeat content-box;
}
#ai2{
    background: url("responsive2.png") center/contain no-repeat content-box;
}
#ai3 {
    background: url("toolbox.png") center/contain no-repeat content-box;
}

.area-text {
    width: 33%;
}

.heading {
    text-align: center;
    font-size: 28px;
}

.text {
    font-size: 20px;
}

.image-break {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.text-break {
    width: 100%;
    height: 33vh;
    color: #fff;
}
.text-break > h2 {
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: -2px 2px 5px #fff;
    font-size: 6vh;
    text-align: center;
}


#contact {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}

#icons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 0 37.5%;
}

#icons a {
    text-decoration: none;
    color: #fff;
    font-size: 3vh;
    transition: 1s;
    padding: 3px;
    border-radius: 3px;
}
#icons a:hover {
    background: #fff;
    color: #000;
    transition: 1s;
}

#contact > h4 {
    display: none;
    margin-top: 2px;
    font-size: 2vh;
}


@media only screen and (max-width: 1300px) {
    .heading {
        font-size: 3vh;
    }
    
    .text {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 1000px) {
    #welcome {
        background: #000 url('nebula.jpg') center/cover no-repeat;
    }
    #ib1 {
        background: #000 url('aurora.jpg') center/cover no-repeat;
    }
    #ib2 {
        background: #000 url('eagle.jpg') center/cover no-repeat;
    }
}

@media only screen and (max-width: 850px) {
    .heading {
        font-size: 2.5vh;
    }
    
    .text {
        font-size: 1.5vh;
    }
}


@media only screen and (max-width: 500px) {
    .area {
        flex-direction: column;
    }
    .area-text, .area-image {
        width: 80%;
    }
    .heading {
        font-size: 3vh;
    }
    .text {
        font-size: 2vh;
    }
    #contact > h3 {
        text-align: center;
    }
    #icons {
        width: 80%;
    }
}

@media only screen and (max-width: 375px) {
    .heading {
        font-size: 2.5vh;
    }
    .text {
        font-size: 1.2vh;
    }
    .text-break > h2, #welcome-text {
        font-size: 4vh;
    }
}
